$bibimbap-dark: #020203;
$light-gray100: #f7f9fb;
$light-gray200: #e9f0f3;
$light-gray300: #dbe6ec;
$light-gray400: #ccd4e0;
$clam-pink: #ff6854;
$dark-grey: #434e77;
$dark-gray300: #434e77;
$bibimbap-brown: #c74b26;
$bibimbap-brown-hover: #c73a05;

:export {
  bibimbapBrown: $bibimbap-brown;
  bibimbapDark: $bibimbap-dark;
  lightGray100: $light-gray100;
  lightGray200: $light-gray200;
  lightGray300: $light-gray300;
  clamPink: $clam-pink;
  darkGrey: $dark-grey;
  darkGray300: $dark-gray300;
}
